@import "variables";

h2 {
	color: $h2Color;
}

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.testing {
	width: percentage(5/7);
}

.whatever {
	width: $myWidth;
	opacity: $myOpacity;
	height: $myHeight;
}